<app-page-header Title="Accomodation"></app-page-header>

<ion-content>
	<ion-card>
		<img src="https://content.r9cdn.net/res/images/marble/seo_hotels.jpg?v=aeb8c67f83d5b9fd53ca97055fc8402800bf3ce4&cluster=4">
		<ion-card-header>
			<ion-card-title>The Venue</ion-card-title>
			<ion-card-subtitle>£40 per night
				<div class="ion-float-right">
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star-half"></ion-icon>
					<ion-icon name="star-outline"></ion-icon>
				</div>
			</ion-card-subtitle>
			<ion-card-subtitle>On Site</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<ul>
				<li>Bed and Breakfast</li>
				<li>Spacious Double Room</li>
				<li>Buffet Restaurant</li>
			</ul>
		</ion-card-content>
	</ion-card>

	<ion-card href="">
		<img src="https://content.r9cdn.net/res/images/marble/seo_hotels.jpg?v=aeb8c67f83d5b9fd53ca97055fc8402800bf3ce4&cluster=4">
		<ion-card-header>
			<ion-card-title>The Local Hotel</ion-card-title>
			<ion-card-subtitle>£150 per night
				<div class="ion-float-right">
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star-half"></ion-icon>
				</div>
			</ion-card-subtitle>
			<ion-card-subtitle>2.4 miles from venue</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<ul>
				<li>Meals Included</li>
				<li>Spacious Double Rooms</li>
			</ul>
		</ion-card-content>
	</ion-card>
	
	<ion-card href="">
		<img src="https://content.r9cdn.net/res/images/marble/seo_hotels.jpg?v=aeb8c67f83d5b9fd53ca97055fc8402800bf3ce4&cluster=4">
		<ion-card-header>
			<ion-card-title>A Cheaper Alternative</ion-card-title>
			<ion-card-subtitle>£70 per night
				<div class="ion-float-right">
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star-outline"></ion-icon>
					<ion-icon name="star-outline"></ion-icon>
				</div>
			</ion-card-subtitle>
			<ion-card-subtitle>1.5 miles from venue</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<ul>
				<li>Bed and Breakfast</li>
				<li>Spacious Double Room</li>
			</ul>
		</ion-card-content>
	</ion-card>
</ion-content>