<div class="address">
	<ion-grid>
		<ion-row>
			<ion-col>Granary Barn,</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>Orchard Park Farm,</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>Lurgashall,</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>Petworth,</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>GU28 9EU,</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>England</ion-col>
		</ion-row>
	</ion-grid>
	<iframe class="map"
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1103.4545898912754!2d-0.6661123786998548!3d51.037350818404256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875cb282d0c1d1b%3A0x395193096c9a535c!2sThe%20Surgery%20Design%20and%20Digital%20Ltd!5e0!3m2!1sen!2suk!4v1584361202556!5m2!1sen!2suk"
		frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>