<app-page-header Title="Sponsors & Partners"></app-page-header>

<ion-content>
	<div class="sponsors">
		<div class="sponsor" style="background-color: #1e1a37;">
			<img src="https://airspaceworld.srgry.com/app/themes/airspace-world/resources/assets/images/powered-logo.svg">
		</div>
		<div class="sponsor">
			<img src="https://airspaceworld.srgry.com/app/uploads/2022/10/ATM-Logo.png">
		</div>
		<div class="sponsor">
			<img src="https://airspaceworld.srgry.com/app/uploads/2022/10/ATTI_no_date.jpg">
		</div>
		<div class="sponsor">
			<img src="https://airspaceworld.srgry.com/app/uploads/2022/10/ATC-Logo-2022-1920px.png">
		</div>
		<div class="sponsor">
			<img src="https://airspaceworld.srgry.com/app/uploads/2022/10/Aerobernie-logo.png">
		</div>
	</div>
</ion-content>