<app-page-header Title="Menu"></app-page-header>

<ion-content>
	<ion-grid class="menu-buttons">
		<ion-row>
			<ion-col>
				<ion-button fill="none" [routerLink]="'/summary'" routerDirection="forward">
					<div class="button">
						<ion-icon name="information-circle-outline"></ion-icon>
						<ion-label>Summary</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/agenda'" routerDirection="forward">
					<div class="button">
						<ion-icon name="calendar-outline"></ion-icon>
						<ion-label>Agenda</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/attendees'" routerDirection="forward">
					<div class="button">
						<ion-icon name="people-outline"></ion-icon>
						<ion-label>Attendees</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/talks'" routerDirection="forward">
					<div class="button">
						<ion-icon name="easel-outline"></ion-icon>
						<ion-label>Talks</ion-label>
					</div>
				</ion-button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-button fill="none" [routerLink]="'/presenters'" routerDirection="forward">
					<div class="button">
						<ion-icon name="person-outline"></ion-icon>
						<ion-label>Presenters</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/venue'" routerDirection="forward">
					<div class="button">
						<ion-icon name="business-outline"></ion-icon>
						<ion-label>Venue</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/travel'" routerDirection="forward">
					<div class="button">
						<ion-icon name="bus-outline"></ion-icon>
						<ion-label>Travel</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/accomodation'" routerDirection="forward">
					<div class="button">
						<ion-icon name="home-outline"></ion-icon>
						<ion-label>Accommodation</ion-label>
					</div>
				</ion-button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-button fill="none" [routerLink]="'/sponsors'" routerDirection="forward">
					<div class="button">
						<ion-icon name="cash-outline"></ion-icon>
						<ion-label>Sponsors</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/members'" routerDirection="forward">
					<div class="button">
						<ion-icon name="ribbon-outline"></ion-icon>
						<ion-label>Members</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/registration'" routerDirection="forward">
					<div class="button">
						<ion-icon name="checkmark-circle-outline"></ion-icon>
						<ion-label>Registration</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/exhibits'" routerDirection="forward">
					<div class="button">
						<ion-icon name="cube-outline"></ion-icon>
						<ion-label>Exhibits</ion-label>
					</div>
				</ion-button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-button fill="none" [routerLink]="'/social'" routerDirection="forward">
					<div class="button">
						<ion-icon name="chatbubble-ellipses-outline"></ion-icon>
						<ion-label>Social Media</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/activity'" routerDirection="forward">
					<div class="button">
						<ion-icon name="megaphone-outline"></ion-icon>
						<ion-label>Activity</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/important-information'" routerDirection="forward">
					<div class="button">
						<ion-icon name="alert-circle-outline"></ion-icon>
						<ion-label>Important</ion-label>
					</div>
				</ion-button>
			</ion-col>

			<ion-col>
				<ion-button fill="none" [routerLink]="'/help'" routerDirection="forward">
					<div class="button">
						<ion-icon name="help-circle-outline"></ion-icon>
						<ion-label>Help</ion-label>
					</div>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar>

	</ion-toolbar>
</ion-footer>