h1 {
	font-size: medium;
	margin: 0px;
}

h2 {
	font-size: small;
	margin: 0px;
	font-weight: normal;
	color: gray;
}

h3 {
	text-align: center;
	font-weight: normal;
	font-size: medium;
	color: gray;
}