<app-header Title="Notifications"></app-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-icon slot="start" name="chatbubble-outline"></ion-icon>
			<div class="content">
				<h1>New message from Matthew Prudente!</h1>
				<h2>09/03/20 12:45</h2>
			</div>
			<ion-button fill="none" slot="end">
				<ion-icon name="close-outline" color="danger"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-item>
			<ion-icon slot="start" name="alert-outline"></ion-icon>
			<div class="content">
				<h1>Important update to Big Conference</h1>
				<h2>7/03/20 13:23</h2>
			</div>
			<ion-button fill="none" slot="end">
				<ion-icon name="close-outline" color="danger"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-item>
			<ion-icon slot="start" name="person-add-outline"></ion-icon>
			<div class="content">
				<h1>Matthew Prudente wants to connect!</h1>
				<h2>05/03/20 14:33</h2>
			</div>
			<ion-button fill="none" slot="end">
				<ion-icon name="close-outline" color="danger"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>
	<h3>That's all folks!</h3>
</ion-content>