<app-modal-header Title="Comments"></app-modal-header>

<ion-content>
	<ion-list>
		<ng-container *ngFor="let Comment of Post.comments">
			<app-comment CommentUID="Comment"></app-comment>
		</ng-container>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-textarea padding-start="10px" id="Input" type="text" placeholder="Say something..." [(ngModel)]="CommentContent"
			(keyup.enter)="SendComment(CommentContent)"></ion-textarea>
		<ion-buttons slot="end">
			<ion-button (click)="SendComment(CommentContent)" slot="icon-only">
				<ion-icon name="send-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>