.connect, .content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.code-input {
	display: flex;
	justify-content: center;
	align-items: center;

	ion-input {
		border: 1px solid lightgray;
		border-radius: 5px;
		max-width: 50px;
		margin-left: 5px;
		margin-right: 5px;
		color: gray;
		font-size: 2em;
		text-align: center;
		--padding-start: none;
	}
}

.content {
	ion-icon {
		width: 100px;
		height: 100px;
	}
	
	.qa {
		padding: 10px;
		border-radius: 5px;
		width: 75%;
	
		ion-input {
			border: 1px solid lightgray;
			border-radius: 5px;
			--padding-start: 10px;
		}
	}

	.vote {
		max-width: 75%;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;

		ion-button {
			height: 100px;
			width: 100px;
		}

		.blue {
			--background: var(--ion-color-blue)
		}

		.red {
			--background: var(--ion-color-red);
		}

		.green {
			--background: var(--ion-color-green);
		}

		.yellow {
			--background: var(--ion-color-yellow);
		}

		.purple {
			--background: rgb(114, 67, 136);
		}

		.orange {
			--background: rgb(255, 175, 70);
		}

		.white {
			--background: #eeeeee;
			color: #333;
		}

		.black {
			--background: #333;
		}
	}

	.quiz {
		width: 100%;
	}
}
