<app-page-header Title="Agenda"></app-page-header>

<ion-content>
	<ion-toolbar>
		<ion-title>Day 1</ion-title>
	</ion-toolbar>
	<ion-list>
		<ion-item>
			<div>
				<h1>Introduction</h1>
				<h2>Room A 09:00 - 10:00</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>New Horizons</h1>
				<h2>Room A 10:00 - 12:30</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>Technical Talk</h1>
				<h2>Room B 10:00 - 17:00</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>Q&A</h1>
				<h2>Room C 10:00 - 11:00</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>Session</h1>
				<h2>Room E 10:00 - 11:00</h2>
			</div>
		</ion-item>
	</ion-list>

	<ion-toolbar>
		<ion-title>Day 2</ion-title>
	</ion-toolbar>
	<ion-list>
		<ion-item>
			<div>
				<h1>Introduction</h1>
				<h2>Room A 09:00 - 10:00</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>New Horizons</h1>
				<h2>Room A 10:00 - 12:30</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>Technical Talk</h1>
				<h2>Room B 10:00 - 17:00</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>Q&A</h1>
				<h2>Room C 10:00 - 11:00</h2>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h1>Session</h1>
				<h2>Room E 10:00 - 11:00</h2>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
