<app-page-header Title="Travel"></app-page-header>

<ion-content>
	<ion-list>
		<ion-item>
			<div>
				<h4>Public Transport</h4>
				<h5>Buses</h5>
				<ion-grid>
					<ion-row>
						<ion-col>Nearest Bus Stop:</ion-col>
						<ion-col>This Road</ion-col>
					</ion-row>
				</ion-grid>
				<h5>Trains</h5>
				<ion-grid>
					<ion-row>
						<ion-col>Nearest Station:</ion-col>
						<ion-col>Some Station</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>Buses:</ion-col>
						<ion-col>Number 5 direct to venue</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>Taxis:</ion-col>
						<ion-col>The station has a Taxi Rank</ion-col>
					</ion-row>
				</ion-grid>
				<h5>Taxi Services</h5>
				<ion-grid>
					<ion-row>
						<ion-col>A Taxi Service</ion-col>
						<ion-col>00000 000000</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>Yellow Taxi Co.</ion-col>
						<ion-col>00000 000000</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>Zippy Taxis</ion-col>
						<ion-col>00000 000000</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h4>Address</h4>
				<app-address></app-address>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<h4>Pre-arranged Transport</h4>
				<p>A taxi service has been arranged from Some Station to the venue. Please follow signs from the station. You will be required to show identification.</p>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
